body { 
    background-image: url(https://www.wallpaperup.com/uploads/wallpapers/2014/01/21/234414/e688272d4a4c18408e0549a7f4d7183f.jpg);
    background-size: 100%;
    background-attachment: fixed;
    color: white; 
    
}

.character-card {
  text-align: center;
  border: grey solid 1px;
  border-radius: 5px; 
  padding: 1rem;
  width: 15rem;
  height: 34rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px gray;
  background-color: rgb(34, 33, 33);
  background-image: url('https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1070&q=80');
}


.character-name {
  font-size: 25px; 
  color: whitesmoke;
  -webkit-text-stroke: .5px blue;
}

.home-planet {
  font-size: 20px;
  -webkit-text-stroke: .25px blue;
}

.species-p {
  font-size: 20px;
}

.character-avatar {
    justify-self: center;
    height: 15rem;
    width: 15rem;
    border: 1px solid whitesmoke;
    border-radius: 5px;
  }

  button {
    position: relative;
    background-color: gray;
    border: none;
    border-radius: 5px;
    height: 3rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
  }

  .delete-btn {
      margin-top: 1rem;
  }
  
  button:hover {
    background-color: whitesmoke;
    border: gray solid 1px;
    color: gray;
  }

  

  /* .modal {
    display: none;
    position: fixed; 
    padding-top: 50px;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modal-content {
    position: relative; 
    background-color: white;
    padding: 20px; 
    margin: auto; 
    width: 75%;  
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    color: black
  }
  .close-btn {
    float: right; 
    color: lightgray; 
    font-size: 24px;  
    font-weight: bold;
  }
  .close-btn:hover {
    color: darkgray;
  }
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  } */
  
  .container {
    padding: 1rem;
    width: stretch;
    height: auto;
    display: block;
    background: gray;
    opacity: .8;
  }
  
  .add-character-form {
    width: 80%
  }
  
  .submit {
    position: relative;
    background-color: gray;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
    font-family: monospace;
    margin: 3px;
  }
  
  .submit:hover {
    background-color: whitesmoke;
    border: gray solid 1px;
    color: gray;
  }
  
  
  .input-text {
    border-radius: 5px;
    height: 2rem;
    width: 60%;
    font-size: 18px;
    font-family: monospace;
    margin: 3px;
    color: black;
  }


  /* lskjadfasjkdflkajsd;flkjasdlkfjasd;lkfjasldkjfal;skdjf */
  /* alkjsdflakjsdhflkajsdhfklajshflkjashdfkjhasdkfjhaskdfjhaslkdfj */

  /* {box-sizing: border-box;} */

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}


.character-button.delete {
  background-color: rgb(104, 5, 5);
  border-radius: 4px;
  margin-top: 6px;
  display: flex; 
  align-items: center;
  justify-content: center;
}

.character-button:hover {
  background-color: black;
  text-decoration: underline;
}

.character-button.edit {
  background-color: rgb(6, 6, 97);
  border-radius: 4px;
  display: flex; 
  align-items: center;
  justify-content: center;
}

/*///////////////////////////*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: black;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  background-image: url('https://images.unsplash.com/photo-1546561892-65bf811416b9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
  background-size: contain;
  display: flex;
  justify-content: space-between; 
  align-content: space-between;

}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
  
.planet-card {
  border: grey solid 1px;
  border-radius: 5px; 
  padding: 1rem;
  width: 50rem;
  height: 42rem;
  display: block;
  margin: 1rem 2rem;
  box-shadow: 3px 4px gray;
  background-color: rgb(34, 33, 33);
  background-image: url('https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1070&q=80');
}

.planet-name {
  font-size: 35px; 
  color: whitesmoke;
  -webkit-text-stroke: .5px blue;
  text-align: center;
 }

.planet-image {
  width: 20rem;
  height: 20rem;
  float: left;
}

.planet-population {
  font-size: 20px; 
  color: whitesmoke;
  text-align: center;
}

.planet-climate {
  font-size: 20px; 
  color: whitesmoke;
  text-align: center;
}
.env-image { 
  width: 50rem;
  height: 22rem;
  display: block;
  text-align: center;
  
}