body { 
    background-color: black;
    color: white; 
}

.character-card {
    text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e04b52
}

.character-avatar {
    justify-self: center;
    height: 15rem;
    width: 15rem;
  }